$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #0e0d0d;
}

.container {
  display: flex;
  justify-content: center;

  .conversor {
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000b36;

    .flex {
      flex-basis: 30px;
      margin: 0.8rem;
    }

    .metros {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: $white;
      font-weight: 600;

      #metros {
        padding: 0.55rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 5px;
      }
    }

    .conversaoTipo {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      color: $white;
      font-weight: 600;
      .medidas {
        padding: 0.55rem;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    #enviar {
      padding: 0.8rem 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      background-color: transparent;
      color: $white;
      border: 1px solid $white;
      border-radius: 5px;
      cursor: pointer;
    }
    #enviar:hover {
      padding: 1rem 1.8rem;
      transition: 0.5s;
      background-color: $white;
      color: #000b36;
      border: 1px solid #000b36;
    }
  }

  #resultado {
    display: none;
    background-color: #333;
    color: $white;
    text-align: center;
    padding: 1rem;
    margin: 2rem 0;
    max-width: 280px;
    border-radius: 5px;
  }
}
